.slider-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  /* Приховує слайди поза межами контейнера */
  border-radius: 15px; /* Добавляем закругленные углы контейнеру */
}

.slider {
  display: flex;
  width: 100%;
  /* Гарантує, що слайдер займає повну ширину контейнера */
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  /* Кожен слайд займає 100% ширини контейнера */
  width: 100%;
  /* Явно задаємо ширину */
  height: 300px;
  /* Фіксована висота */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Зображення заповнює контейнер */
  object-position: center;
  display: block;
}

.arrow {
  display: none; /* Скрываем стрелки */
}

.arrow-left {
  display: none; /* Скрываем левую стрелку */
}

.arrow-right {
  display: none; /* Скрываем правую стрелку */
}

@media (max-width: 768px) {
  .slider-container {
    max-width: 100%;
  }

  .slide {
    height: 250px;
    /* Менша висота для планшетів */
  }
}

@media (max-width: 480px) {
  .slide {
    height: 300px; /* Увеличено с 250px до 280px для мобильной версии */
  }
}
