.slider-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 15px;
}

.slider {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.arrow {
  display: none;
}

.arrow-left {
  display: none;
}

.arrow-right {
  display: none;
}

@media (max-width: 768px) {
  .slider-container {
    max-width: 100%;
    margin: 0; /* Убран margin для максимальной ширины */
  }

  .slide {
    height: 400px; /* Увеличена высота слайдера */
  }
}

@media (max-width: 480px) {
  .slide {
    height: 400px; /* Увеличена высота для меньших экранов */
  }
}
